* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
body {
  background-color: #347fc4;
}

.LoadingSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
