* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background-color: #347fc4;
}

.LoadingSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
